.outerbox {
    margin-top: 10%;
    background-color: white;
    border-style: groove;
    border-width: thin;
}

.tableProjektTime {
    table-layout: fixed; 
    width: 80%;
    text-align: center;
}

.wrapper {
    text-align: center;
    margin-bottom: 10px;
}

td {
    border-bottom: 1px solid #ddd;
}

th {
    border-bottom: 1px solid #ddd;
}

img {
    cursor: pointer;
    margin-left: 10px;
}
.left{
    float: left;
    width: 40%;
    margin-bottom: 5%;
}

.right{
    float: left;
    width: 50%;
    margin-left: 5%;
}

.tableProjekt {
    table-layout: fixed; 
    width: 70%;
    text-align: center;
    margin-bottom: 5%;
}

.input{
    width: 75%;
}

.center{
    text-align: center;
}

.input-group {
    margin: auto;
    width: 80%;
}

.inputbutton {
    height: 50%;
    width: 50%;
}

li{
    font-size: 125%;
    font-weight: bolder;
    margin-bottom: 5%;
}

h4{
    color: gray;
    font-size: 110%;
}

.data-display{
    margin-bottom: 2%;
    table-layout: fixed; 
    width: 80%;
}

#addProjectTime{
    margin-top: 10%;
}

