.outerbox {
    margin-top: 10%;
    background-color: white;
    border-style: groove;
    border-width: thin;
}



table {
    table-layout: fixed; width: 80%;
    text-align: center;
}

.wrapper {
    text-align: center;
    margin-bottom: 10px;
}

td {
    border-bottom: 1px solid #ddd;
}

th {
    border-bottom: 1px solid #ddd;
}

img {
    cursor: pointer;
    margin-left: 10px;
    width: 10%;
    height: 10%;
}

