.outerbox {
    margin-top: 10%;
    background-color: white;
    border-style: groove;
    border-width: thin;
}

label{
    margin-right: 5%;
}



.middleForm{
    align-self: center;
}

.input-right{
    margin: auto;
    text-align: right;
    margin-left: 0%;
}

.input-left{
    text-align: left;
    margin: auto;
    margin-right: 3%;
    width: 20%;
}

li{
    width: 50%;
    margin: auto;
}

#addProject{
    margin-top: 3%;
}
