<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error! </strong> {{ errorMessage }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>



<div class="outerbox">
  <h1 style="text-align: center;">Arbeitsaufzeichnung</h1>

  <form class="form" [formGroup]="filterForm" (ngSubmit)="filterMonths()">
      <input type="month" name="day" formControlName="dates" class="form" id="inputFilter" placeholder="Datum">
      <button type="button" (click)="filterMonths()" class="btn ">Suchen</button>
  </form>


  <table align="center">
      <tr>
        <th>Datum</th>
        <th>Zeitspanne</th>
        <th>Zeit</th>
        <th>Projektzeit</th>
        <th></th>
      </tr>
      <tr *ngFor="let day of days">
        <td>{{day.dates}}</td>
        <td>{{day.start}} - {{day.finish}}</td>
        <td>{{day.working_hours| number: '.0-2'}}</td>
        <td> </td>
        <td>
        <img src="assets/iconmonstr-pencil-8.svg" title="Bearbeiten" data-toggle="modal" data-target=".edit-day-modal" (click)="setSelected(day)">
        <img src="assets/iconmonstr-plus-5.svg" title="Projekt hinzufügen" [routerLink]="['/project', day.id]">
        <img src="assets/iconmonstr-x-mark-1.svg" title="Löschen" (click)="deleteDay(day)">
        </td>
      </tr>
    <tr>
      <td></td>
      <td></td>
      <td>{{this.totalTime | number: '.0-2'}}</td>
      <td> </td>
      <td> </td>
    </tr>
  </table>
  <div class="wrapper">
    <button class="button" class="btn btn-secondary btn-sm mr-4" data-toggle="modal" data-target=".create-day-modal">Neue Arbeitsaufzeichnung</button>
  </div>

</div>

<div class="modal fade create-day-modal" tabindex="-1" role="dialog" aria-labelledby="Create day modal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Neue Arbeitsaufzeichnung</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearForm()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form" [formGroup]="dayForm" (ngSubmit)="addDay()">

          <div class="form-group">
            <label for="inputDay">Tag</label>
            <input type="date" name="day" formControlName="dates" class="form-control" id="inputDay"
                   aria-describedby="titleHelp" placeholder="Datum">
            <div *ngIf="submitted && dayForm.controls.dates.errors.required" class="error">
              <small class="form-text text-warning">Ein Datum
                wird benötigt!
              </small>
            </div>
          </div>

          <div class="form-group">
            <label for="inputStart">Ankunft</label>
            <input type="time" name="start" formControlName="start" class="form-control" id="inputStart"
                      aria-describedby="startHelp" placeholder="Zeit der Ankunft">
            <div *ngIf="submitted && dayForm.controls.start.errors.required" class="error">
              <small class="form-text text-warning">Eine Ankunftszeit wird benötigt!
              </small>
            </div>
          </div>

          <div class="form-group">
            <label for="inputFinish">Abreise</label>
            <input type="time" name="finish" formControlName="finish" class="form-control" id="inputFinish"
                      aria-describedby="finishHelp" placeholder="Zeit der Abreise">
            <div *ngIf="submitted && dayForm.controls.finish.errors.required" class="error">
              <small class="form-text text-warning">Eine Abreisezeit wird benötigt!
              </small>
            </div>
          </div>
          <button type="button" (click)="addDay()" class="btn btn-success">Arbeitsaufzeichnung hinzufügen</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade edit-day-modal" tabindex="-1" role="dialog" aria-labelledby="Edit day modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Arbeitsaufzeichnung bearbeiten</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearForm()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" *ngIf="selectedDay !== undefined">
          <form class="form" [formGroup]="timeForm" (ngSubmit)="submitDayToEdit(selectedDay)">
              <div class="form-group">
                  <label for="inputDay">Tag</label>
                  <input type="date" name="day" class="form-control" id="inputDay"
                         aria-describedby="titleHelp" value="{{selectedDay.dates}}" readonly>
              </div>
            <div class="form-group">
              <label for="inputStart">Ankunft</label>
              <input type="time" name="start" formControlName="start" class="form-control" id="inputStart"
                        aria-describedby="startHelp" placeholder="Zeit der Ankunft" value="{{selectedDay.start}}">
            </div>
  
            <div class="form-group">
              <label for="inputFinish">Abreise</label>
              <input type="time" name="finish" formControlName="finish" class="form-control" id="inputFinish"
                        aria-describedby="finishHelp" placeholder="Zeit der Abreise" value="{{selectedDay.finish}}">
            </div>
            <button type="button" (click)="submitDayToEdit(selectedDay)" class="btn btn-success">Arbeitsaufzeichnung ändern</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  
  


