<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error! </strong> {{ errorMessage }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>



<div class="outerbox">
  <h1 style="text-align: center;">Arbeitsaufzeichnung</h1>

  <table align="center" class="data-display">
      <tr>
        <th>Soll-Zeit: {{allocatedMonthTime}}</th>
        <th>Ist-Zeit: {{totalTime}}</th>
        <th>Saldo: {{totalTime - allocatedMonthTime}} </th>
      </tr>
  </table>

  <form class="form" [formGroup]="filterForm" (ngSubmit)="filterMonths()">
      <div class="active-cyan-4 mb-4">
          <div class="input-group">
            <input type="month" name="day" formControlName="dates" class="form-control" id="inputFilter" placeholder="Datum">
                    <span class="input-group-btn">
                        <button type="button" (click)="filterMonths()" class="btn ">Suchen</button>
                  </span>  
          </div>
      </div>
  </form>


  <table align="center">
      <tr>
        <th>Datum</th>
        <th>Projekteinträge</th>
        <th>Projektzeiten</th>
        <th></th>
      </tr>
      <tr *ngFor="let day of days">
        <td>{{day.dates}}</td>
        <td>{{day.project_amount}}</td>
        <td>{{day.project_hours| number: '.0-2'}}h</td>
        <td>
        <img src="assets/iconmonstr-pencil-8.svg" title="Bearbeiten" data-toggle="modal" data-target=".edit-day-modal" (click)="setSelected(day)">
        <img src="assets/iconmonstr-plus-5.svg" title="Projekt hinzufügen" [routerLink]="['/project', day.id]">
        <img src="assets/iconmonstr-x-mark-1.svg" title="Löschen" (click)="deleteDay(day)">
        </td>
      </tr>
    <tr>
      <td></td>
      <td></td>
      <td>{{this.totalTime | number: '.0-2'}}h</td>
      <td> </td>
    </tr>
  </table>
  <div class="wrapper">
    <button class="button" class="btn btn-secondary btn-sm mr-4" data-toggle="modal" data-target=".create-day-modal" id="addDay">Neue Arbeitsaufzeichnung</button>
  </div>

</div>

<div class="modal fade create-day-modal" tabindex="-1" role="dialog" aria-labelledby="Create day modal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Neue Arbeitsaufzeichnung</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearForm()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form" [formGroup]="dayForm" (ngSubmit)="addDay()">

          <div class="form-group">
            <label for="inputDay">Tag</label>
            <input type="date" name="day" formControlName="dates" class="form-control" id="inputDay"
                   aria-describedby="titleHelp" placeholder="Datum">
            <div *ngIf="submitted && dayForm.controls.dates.errors.required" class="error">
              <small class="form-text text-warning">Ein Datum
                wird benötigt!
              </small>
            </div>
          </div>
          <button type="button" (click)="addDay()" class="btn btn-success center">Arbeitsaufzeichnung hinzufügen</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade edit-day-modal" tabindex="-1" role="dialog" aria-labelledby="Edit day modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Arbeitsaufzeichnung bearbeiten</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearForm()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" *ngIf="selectedDay !== undefined">
          <form class="form" [formGroup]="editForm" (ngSubmit)="submitDayToEdit(selectedDay)">
              <div class="form-group">
                  <label for="inputDayEdit">Tag</label>
                  <input type="date" name="day" formControlName="dates" class="form-control" id="inputDayEdit"
                         aria-describedby="titleHelp" value="{{selectedDay.dates}}">
              </div>
              <div *ngIf="submitted && editForm.controls.dates.errors" class="error">
                <small class="form-text text-warning">Ein Datum
                  wird benötigt!
                </small>
              </div>
            <button type="button" (click)="submitDayToEdit(selectedDay)" class="btn btn-success">Arbeitsaufzeichnung ändern</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  
  


